<nav>
  <ul>
    <li><a routerLink="/create-category">Create Product Category</a></li>
    <li><a routerLink="/create-product">Create Product</a></li>
    <li><a routerLink="/create-sale">Create Sale</a></li>
    <li><a routerLink="/view-categories">View Categories</a></li>
    <li><a routerLink="/view-products">View Products</a></li>
    <li><a routerLink="/view-sales">View Sales</a></li>
    <li><a routerLink="/view-revenue-summary">View Revenue Summary</a></li>
  </ul>
</nav>

<!-- The router outlet where components will be loaded -->
<router-outlet></router-outlet>
