<div class="stats shadow">

    <div class="stat">
      <div class="stat-title">Revenue Today</div>
      <div class="stat-value">{{ totalRevenueForDay | currency }}</div>
      <div class="stat-desc">Compared to yesterday</div>
    </div>
  
    <div class="stat">
      <div class="stat-title">Revenue This Month</div>
      <div class="stat-value">{{ totalRevenueForMonth | currency }}</div>
      <div class="stat-desc">Compared to last month</div>
    </div>
  
    <div class="stat">
      <div class="stat-title">Revenue This Year</div>
      <div class="stat-value">{{ totalRevenueForYear | currency }}</div>
      <div class="stat-desc">Compared to last year</div>
    </div>
  
  </div>
  